{% extends 'layout.html' %}

{% block content %}

<div class="char">

    <h1>{{ characters[0]['origin_name'] }}</h1>  <!-- Mostramos el nombre del origen del primer residente -->
    <div class="card-container">
        {% for character in characters %}
            <div class="card">
                <a href="/character/{{ character['id'] }}">  <!-- Accedemos al ID del residente en el diccionario -->
                    <div class="card-inner">
                        <div class="card-front">
                            <img class="card-image" src="{{ character['image'] }}" alt="{{ character['name'] }}">
                        </div>
                        <div class="card-back">
                            <p>{{ character['name'] }}</p>
                            <p>Status: {{ character['status'] }}</p>
                            <p>Species: {{ character['species'] }}</p>
                            <p>Gender: {{ character['gender'] }}</p>
                            <p>Origin: {{ character['origin_name'] }}</p>  <!-- Mostramos el nombre del origen -->
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}

    </div>
    <button id="load-more-button">Cargar más personajes</button>

    <script src="{{ url_for('static', filename='loadmore.js') }}"></script>

</div>

{% endblock content %}

